// --------------------------------

// Flexbox

// --------------------------------

.flex { display: flex; }
.inline-flex { display: inline-flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-center { justify-content: center; align-items: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }

@include breakpoint(xs) {
  .flex\@xs { display: flex; }
  .inline-flex\@xs { display: inline-flex; }
  .flex-wrap\@xs { flex-wrap: wrap; }
  .flex-column\@xs { flex-direction: column; }
  .flex-column-reverse\@xs { flex-direction: column-reverse; }
  .flex-row\@xs { flex-direction: row; }
  .flex-row-reverse\@xs { flex-direction: row-reverse; }
  .flex-center\@xs { justify-content: center; align-items: center; }
  .justify-start\@xs { justify-content: flex-start; }
  .justify-end\@xs { justify-content: flex-end; }
  .justify-center\@xs { justify-content: center; }
  .justify-between\@xs { justify-content: space-between; }
  .items-center\@xs { align-items: center; }
  .items-start\@xs { align-items: flex-start; }
  .items-end\@xs { align-items: flex-end; }
}

@include breakpoint(sm) {
  .flex\@sm { display: flex; }
  .inline-flex\@sm { display: inline-flex; }
  .flex-wrap\@sm { flex-wrap: wrap; }
  .flex-column\@sm { flex-direction: column; }
  .flex-column-reverse\@sm { flex-direction: column-reverse; }
  .flex-row\@sm { flex-direction: row; }
  .flex-row-reverse\@sm { flex-direction: row-reverse; }
  .flex-center\@sm { justify-content: center; align-items: center; }
  .justify-start\@sm { justify-content: flex-start; }
  .justify-end\@sm { justify-content: flex-end; }
  .justify-center\@sm { justify-content: center; }
  .justify-between\@sm { justify-content: space-between; }
  .items-center\@sm { align-items: center; }
  .items-start\@sm { align-items: flex-start; }
  .items-end\@sm { align-items: flex-end; }
}

@include breakpoint(md) {
  .flex\@md { display: flex; }
  .inline-flex\@md { display: inline-flex; }
  .flex-wrap\@md { flex-wrap: wrap; }
  .flex-column\@md { flex-direction: column; }
  .flex-column-reverse\@md { flex-direction: column-reverse; }
  .flex-row\@md { flex-direction: row; }
  .flex-row-reverse\@md { flex-direction: row-reverse; }
  .flex-center\@md { justify-content: center; align-items: center; }
  .justify-start\@md { justify-content: flex-start; }
  .justify-end\@md { justify-content: flex-end; }
  .justify-center\@md { justify-content: center; }
  .justify-between\@md { justify-content: space-between; }
  .items-center\@md { align-items: center; }
  .items-start\@md { align-items: flex-start; }
  .items-end\@md { align-items: flex-end; }
}

@include breakpoint(lg) {
  .flex\@lg { display: flex; }
  .inline-flex\@lg { display: inline-flex; }
  .flex-wrap\@lg { flex-wrap: wrap; }
  .flex-column\@lg { flex-direction: column; }
  .flex-column-reverse\@lg { flex-direction: column-reverse; }
  .flex-row\@lg { flex-direction: row; }
  .flex-row-reverse\@lg { flex-direction: row-reverse; }
  .flex-center\@lg { justify-content: center; align-items: center; }
  .justify-start\@lg { justify-content: flex-start; }
  .justify-end\@lg { justify-content: flex-end; }
  .justify-center\@lg { justify-content: center; }
  .justify-between\@lg { justify-content: space-between; }
  .items-center\@lg { align-items: center; }
  .items-start\@lg { align-items: flex-start; }
  .items-end\@lg { align-items: flex-end; }
}

@include breakpoint(xl) {
  .flex\@xl { display: flex; }
  .inline-flex\@xl { display: inline-flex; }
  .flex-wrap\@xl { flex-wrap: wrap; }
  .flex-column\@xl { flex-direction: column; }
  .flex-column-reverse\@xl { flex-direction: column-reverse; }
  .flex-row\@xl { flex-direction: row; }
  .flex-row-reverse\@xl { flex-direction: row-reverse; }
  .flex-center\@xl { justify-content: center; align-items: center; }
  .justify-start\@xl { justify-content: flex-start; }
  .justify-end\@xl { justify-content: flex-end; }
  .justify-center\@xl { justify-content: center; }
  .justify-between\@xl { justify-content: space-between; }
  .items-center\@xl { align-items: center; }
  .items-start\@xl { align-items: flex-start; }
  .items-end\@xl { align-items: flex-end; }
}

// children
.flex-grow { flex-grow: 1; }
.flex-shrink-0 { flex-shrink: 0; }

// set gap
.flex-gap-xxxs {
  margin-bottom: calc(-1 * var(--space-xxxs));
  margin-left: calc(-1 * var(--space-xxxs));

  > * {
    margin-bottom: var(--space-xxxs);
    margin-left: calc(var(--space-xxxs));
  }
}

.flex-gap-xxs {
  margin-bottom: calc(-1 * var(--space-xxs));
  margin-left: calc(-1 * var(--space-xxs));

  > * {
    margin-bottom: var(--space-xxs);
    margin-left: calc(var(--space-xxs));
  }
}

.flex-gap-xs {
  margin-bottom: calc(-1 * var(--space-xs));
  margin-left: calc(-1 * var(--space-xs));

  > * {
    margin-bottom: var(--space-xs);
    margin-left: calc(var(--space-xs));
  }
}

.flex-gap-sm {
  margin-bottom: calc(-1 * var(--space-sm));
  margin-left: calc(-1 * var(--space-sm));

  > * {
    margin-bottom: var(--space-sm);
    margin-left: calc(var(--space-sm));
  }
}

.flex-gap-md {
  margin-bottom: calc(-1 * var(--space-md));
  margin-left: calc(-1 * var(--space-md));

  > * {
    margin-bottom: var(--space-md);
    margin-left: calc(var(--space-md));
  }
}

.flex-gap-lg {
  margin-bottom: calc(-1 * var(--space-lg));
  margin-left: calc(-1 * var(--space-lg));

  > * {
    margin-bottom: var(--space-lg);
    margin-left: calc(var(--space-lg));
  }
}

.flex-gap-xl {
  margin-bottom: calc(-1 * var(--space-xl));
  margin-left: calc(-1 * var(--space-xl));

  > * {
    margin-bottom: var(--space-xl);
    margin-left: calc(var(--space-xl));
  }
}

.flex-gap-xxl {
  margin-bottom: calc(-1 * var(--space-xxl));
  margin-left: calc(-1 * var(--space-xxl));

  > * {
    margin-bottom: var(--space-xxl);
    margin-left: calc(var(--space-xxl));
  }
}

.flex-gap-xxxl {
  margin-bottom: calc(-1 * var(--space-xxxl));
  margin-left: calc(-1 * var(--space-xxxl));

  > * {
    margin-bottom: var(--space-xxxl);
    margin-left: calc(var(--space-xxxl));
  }
}


.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}
.order-4 {order: 4;}
.order-5 {order: 5;}
.order-6 {order: 6;}
.order-7 {order: 7;}
.order-8 {order: 8;}
.order-9 {order: 9;}
.order-10 {order: 10;}

// --------------------------------

// Margin

// --------------------------------

.margin-0     { margin : 0; }
.margin-xxxxs { margin: var(--space-xxxxs); }
.margin-xxxs  { margin: var(--space-xxxs); }
.margin-xxs   { margin: var(--space-xxs); }
.margin-xs    { margin: var(--space-xs); }
.margin-sm    { margin: var(--space-sm); }
.margin-md    { margin: var(--space-md); }
.margin-lg    { margin: var(--space-lg); }
.margin-xl    { margin: var(--space-xl); }
.margin-xxl   { margin: var(--space-xxl); }
.margin-xxxl  { margin: var(--space-xxxl); }
.margin-xxxxl { margin: var(--space-xxxxl); }
.margin-auto  { margin: auto; }

.margin-top-0     { margin-top : 0; }
.margin-top-xxxxs { margin-top: var(--space-xxxxs); }
.margin-top-xxxs  { margin-top: var(--space-xxxs); }
.margin-top-xxs   { margin-top: var(--space-xxs); }
.margin-top-xs    { margin-top: var(--space-xs); }
.margin-top-sm    { margin-top: var(--space-sm); }
.margin-top-md    { margin-top: var(--space-md); }
.margin-top-lg    { margin-top: var(--space-lg); }
.margin-top-xl    { margin-top: var(--space-xl); }
.margin-top-xxl   { margin-top: var(--space-xxl); }
.margin-top-xxxl  { margin-top: var(--space-xxxl); }
.margin-top-xxxxl { margin-top: var(--space-xxxxl); }
.margin-top-auto  { margin-top: auto; }

.margin-bottom-0     { margin-bottom : 0 !important; }
.margin-bottom-xxxxs { margin-bottom: var(--space-xxxxs); }
.margin-bottom-xxxs  { margin-bottom: var(--space-xxxs); }
.margin-bottom-xxs   { margin-bottom: var(--space-xxs); }
.margin-bottom-xs    { margin-bottom: var(--space-xs); }
.margin-bottom-sm    { margin-bottom: var(--space-sm); }
.margin-bottom-md    { margin-bottom: var(--space-md); }
.margin-bottom-lg    { margin-bottom: var(--space-lg); }
.margin-bottom-xl    { margin-bottom: var(--space-xl); }
.margin-bottom-xxl   { margin-bottom: var(--space-xxl); }
.margin-bottom-xxxl  { margin-bottom: var(--space-xxxl); }
.margin-bottom-xxxxl { margin-bottom: var(--space-xxxxl); }
.margin-bottom-auto  { margin-bottom: auto; }

.margin-right-0     { margin-right : 0; }
.margin-right-xxxxs { margin-right: var(--space-xxxxs); }
.margin-right-xxxs  { margin-right: var(--space-xxxs); }
.margin-right-xxs   { margin-right: var(--space-xxs); }
.margin-right-xs    { margin-right: var(--space-xs); }
.margin-right-sm    { margin-right: var(--space-sm); }
.margin-right-md    { margin-right: var(--space-md); }
.margin-right-lg    { margin-right: var(--space-lg); }
.margin-right-xl    { margin-right: var(--space-xl); }
.margin-right-xxl   { margin-right: var(--space-xxl); }
.margin-right-xxxl  { margin-right: var(--space-xxxl); }
.margin-right-xxxxl { margin-right: var(--space-xxxxl); }
.margin-right-auto  { margin-right: auto; }

.margin-left-0     { margin-left : 0; }
.margin-left-xxxxs { margin-left: var(--space-xxxxs); }
.margin-left-xxxs  { margin-left: var(--space-xxxs); }
.margin-left-xxs   { margin-left: var(--space-xxs); }
.margin-left-xs    { margin-left: var(--space-xs); }
.margin-left-sm    { margin-left: var(--space-sm); }
.margin-left-md    { margin-left: var(--space-md); }
.margin-left-lg    { margin-left: var(--space-lg); }
.margin-left-xl    { margin-left: var(--space-xl); }
.margin-left-xxl   { margin-left: var(--space-xxl); }
.margin-left-xxxl  { margin-left: var(--space-xxxl); }
.margin-left-xxxxl { margin-left: var(--space-xxxxl); }
.margin-left-auto  { margin-left: auto; }
 
.margin-x-xxxxs {
  margin-left: var(--space-xxxxs); 
  margin-right: var(--space-xxxxs); 
}
.margin-x-xxxs {
  margin-left: var(--space-xxxs); 
  margin-right: var(--space-xxxs); 
}
.margin-x-xxs {
  margin-left: var(--space-xxs); 
  margin-right: var(--space-xxs); 
}
.margin-x-xs {
  margin-left: var(--space-xs); 
  margin-right: var(--space-xs); 
}
.margin-x-sm {
  margin-left: var(--space-sm); 
  margin-right: var(--space-sm); 
}
.margin-x-md {
  margin-left: var(--space-md); 
  margin-right: var(--space-md); 
}
.margin-x-lg {
  margin-left: var(--space-lg); 
  margin-right: var(--space-lg); 
}
.margin-x-xl { 
  margin-left: var(--space-xl); 
  margin-right: var(--space-xl); 
}
.margin-x-xxl { 
  margin-left: var(--space-xxl); 
  margin-right: var(--space-xxl); 
}
.margin-x-xxxl { 
  margin-left: var(--space-xxxl); 
  margin-right: var(--space-xxxl); 
}
.margin-x-xxxxl { 
  margin-left: var(--space-xxxxl); 
  margin-right: var(--space-xxxxl); 
}
.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-y-xxxxs { 
  margin-top: var(--space-xxxxs); 
  margin-bottom: var(--space-xxxxs); 
}
.margin-y-xxxs { 
  margin-top: var(--space-xxxs); 
  margin-bottom: var(--space-xxxs); 
}
.margin-y-xxs { 
  margin-top: var(--space-xxs); 
  margin-bottom: var(--space-xxs); 
}
.margin-y-xs { 
  margin-top: var(--space-xs); 
  margin-bottom: var(--space-xs); 
}
.margin-y-sm { 
  margin-top: var(--space-sm); 
  margin-bottom: var(--space-sm); 
}
.margin-y-md { 
  margin-top: var(--space-md); 
  margin-bottom: var(--space-md); 
}
.margin-y-lg { 
  margin-top: var(--space-lg); 
  margin-bottom: var(--space-lg); 
}
.margin-y-xl { 
  margin-top: var(--space-xl); 
  margin-bottom: var(--space-xl); 
}
.margin-y-xxl { 
  margin-top: var(--space-xxl); 
  margin-bottom: var(--space-xxl); 
}
.margin-y-xxxl { 
  margin-top: var(--space-xxxl); 
  margin-bottom: var(--space-xxxl); 
}
.margin-y-xxxxl { 
  margin-top: var(--space-xxxxl); 
  margin-bottom: var(--space-xxxxl); 
}
.margin-y-auto { 
  margin-top: auto; 
  margin-bottom: auto; 
}

@include breakpoint(xs, "not all") {
  .has-margin\@xs { margin: 0 !important; }
}

@include breakpoint(sm, "not all") {
  .has-margin\@sm { margin: 0 !important; }
}

@include breakpoint(md, "not all") {
  .has-margin\@md { margin: 0 !important; }
}

@include breakpoint(lg, "not all") {
  .has-margin\@lg { margin: 0 !important; }
}

@include breakpoint(xl, "not all") {
  .has-margin\@xl { margin: 0 !important; }
}

@include breakpoint(xs, "not all") {
  .has-margin-left\@xs { margin-left: 0 !important; }
}

@include breakpoint(sm, "not all") {
  .has-margin-left\@sm { margin-left: 0 !important; }
}

@include breakpoint(md, "not all") {
  .has-margin-left\@md { margin-left: 0 !important; }
}

@include breakpoint(lg, "not all") {
  .has-margin-left\@lg { margin-left: 0 !important; }
}

@include breakpoint(xl, "not all") {
  .has-margin-left\@xl { margin-left: 0 !important; }
}

@include breakpoint(xs, "not all") {
  .has-margin-right\@xs { margin-right: 0 !important; }
}

@include breakpoint(sm, "not all") {
  .has-margin-right\@sm { margin-right: 0 !important; }
}

@include breakpoint(md, "not all") {
  .has-margin-right\@md { margin-right: 0 !important; }
}

@include breakpoint(lg, "not all") {
  .has-margin-right\@lg { margin-right: 0 !important; }
}

@include breakpoint(xl, "not all") {
  .has-margin-right\@xl { margin-right: 0 !important; }
}

@include breakpoint(xs, "not all") {
  .has-margin-top\@xs { margin-top: 0 !important; }
}

@include breakpoint(sm, "not all") {
  .has-margin-top\@sm { margin-top: 0 !important; }
}

@include breakpoint(md, "not all") {
  .has-margin-top\@md { margin-top: 0 !important; }
}

@include breakpoint(lg, "not all") {
  .has-margin-top\@lg { margin-top: 0 !important; }
}

@include breakpoint(xl, "not all") {
  .has-margin-top\@xl { margin-top: 0 !important; }
}
@include breakpoint(xs, "not all") {
  .has-margin-bottom\@xs { margin-bottom: 0 !important; }
}

@include breakpoint(sm, "not all") {
  .has-margin-bottom\@sm { margin-bottom: 0 !important; }
}

@include breakpoint(md, "not all") {
  .has-margin-bottom\@md { margin-bottom: 0 !important; }
}

@include breakpoint(lg, "not all") {
  .has-margin-bottom\@lg { margin-bottom: 0 !important; }
}

@include breakpoint(xl, "not all") {
  .has-margin-bottom\@xl { margin-bottom: 0 !important; }
}
// --------------------------------

// Padding

// --------------------------------

.padding-0     { padding: 0; }
.padding-xxxxs { padding: var(--space-xxxxs); }
.padding-xxxs  { padding: var(--space-xxxs); }
.padding-xxs   { padding: var(--space-xxs); }
.padding-xs    { padding: var(--space-xs); }
.padding-sm    { padding: var(--space-sm); }
.padding-md    { padding: var(--space-md); }
.padding-lg    { padding: var(--space-lg); }
.padding-xl    { padding: var(--space-xl); }
.padding-xxl   { padding: var(--space-xxl); }
.padding-xxxl  { padding: var(--space-xxxl); }
.padding-xxxxl { padding: var(--space-xxxxl); }
.padding-component { padding: var(--component-padding); }

.padding-top-0     { padding-top: 0; }
.padding-top-xxxxs { padding-top: var(--space-xxxxs); }
.padding-top-xxxs  { padding-top: var(--space-xxxs); }
.padding-top-xxs   { padding-top: var(--space-xxs); }
.padding-top-xs    { padding-top: var(--space-xs); }
.padding-top-sm    { padding-top: var(--space-sm); }
.padding-top-md    { padding-top: var(--space-md); }
.padding-top-lg    { padding-top: var(--space-lg); }
.padding-top-xl    { padding-top: var(--space-xl); }
.padding-top-xxl   { padding-top: var(--space-xxl); }
.padding-top-xxxl  { padding-top: var(--space-xxxl); }
.padding-top-xxxxl { padding-top: var(--space-xxxxl); }
.padding-top-component { padding-top: var(--component-padding); }

.padding-bottom-0     { padding-bottom: 0; }
.padding-bottom-xxxxs { padding-bottom: var(--space-xxxxs); }
.padding-bottom-xxxs  { padding-bottom: var(--space-xxxs); }
.padding-bottom-xxs   { padding-bottom: var(--space-xxs); }
.padding-bottom-xs    { padding-bottom: var(--space-xs); }
.padding-bottom-sm    { padding-bottom: var(--space-sm); }
.padding-bottom-md    { padding-bottom: var(--space-md); }
.padding-bottom-lg    { padding-bottom: var(--space-lg); }
.padding-bottom-xl    { padding-bottom: var(--space-xl); }
.padding-bottom-xxl   { padding-bottom: var(--space-xxl); }
.padding-bottom-xxxl  { padding-bottom: var(--space-xxxl); }
.padding-bottom-xxxxl { padding-bottom: var(--space-xxxxl); }
.padding-bottom-component { padding-bottom: var(--component-padding); }

.padding-right-0     { padding-right: 0; }
.padding-right-xxxxs { padding-right: var(--space-xxxxs); }
.padding-right-xxxs  { padding-right: var(--space-xxxs); }
.padding-right-xxs   { padding-right: var(--space-xxs); }
.padding-right-xs    { padding-right: var(--space-xs); }
.padding-right-sm    { padding-right: var(--space-sm); }
.padding-right-md    { padding-right: var(--space-md); }
.padding-right-lg    { padding-right: var(--space-lg); }
.padding-right-xl    { padding-right: var(--space-xl); }
.padding-right-xxl   { padding-right: var(--space-xxl); }
.padding-right-xxxl  { padding-right: var(--space-xxxl); }
.padding-right-xxxxl { padding-right: var(--space-xxxxl); }
.padding-right-component { padding-right: var(--component-padding); }

.padding-left-0     { padding-left: 0; }
.padding-left-xxxxs { padding-left: var(--space-xxxxs); }
.padding-left-xxxs  { padding-left: var(--space-xxxs); }
.padding-left-xxs   { padding-left: var(--space-xxs); }
.padding-left-xs    { padding-left: var(--space-xs); }
.padding-left-sm    { padding-left: var(--space-sm); }
.padding-left-md    { padding-left: var(--space-md); }
.padding-left-lg    { padding-left: var(--space-lg); }
.padding-left-xl    { padding-left: var(--space-xl); }
.padding-left-xxl   { padding-left: var(--space-xxl); }
.padding-left-xxxl  { padding-left: var(--space-xxxl); }
.padding-left-xxxxl { padding-left: var(--space-xxxxl); }
.padding-left-component { padding-left: var(--component-padding); }

.padding-x-0 {
  padding-left: 0;
  padding-right: 0;
}
.padding-x-xxxxs { 
  padding-left: var(--space-xxxxs); 
  padding-right: var(--space-xxxxs); 
}
.padding-x-xxxs { 
  padding-left: var(--space-xxxs); 
  padding-right: var(--space-xxxs); 
}
.padding-x-xxs { 
  padding-left: var(--space-xxs); 
  padding-right: var(--space-xxs); 
}
.padding-x-xs { 
  padding-left: var(--space-xs); 
  padding-right: var(--space-xs); 
}
.padding-x-sm { 
  padding-left: var(--space-sm); 
  padding-right: var(--space-sm); 
}
.padding-x-md { 
  padding-left: var(--space-md); 
  padding-right: var(--space-md); 
}
.padding-x-lg { 
  padding-left: var(--space-lg); 
  padding-right: var(--space-lg); 
}
.padding-x-xl { 
  padding-left: var(--space-xl); 
  padding-right: var(--space-xl); 
}
.padding-x-xxl { 
  padding-left: var(--space-xxl); 
  padding-right: var(--space-xxl); 
}
.padding-x-xxxl { 
  padding-left: var(--space-xxxl); 
  padding-right: var(--space-xxxl); 
}
.padding-x-xxxxl { 
  padding-left: var(--space-xxxxl); 
  padding-right: var(--space-xxxxl); 
}
.padding-x-component { 
  padding-left: var(--component-padding); 
  padding-right: var(--component-padding); 
}

.padding-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.padding-y-xxxxs { 
  padding-top: var(--space-xxxxs); 
  padding-bottom: var(--space-xxxxs); 
}
.padding-y-xxxs { 
  padding-top: var(--space-xxxs); 
  padding-bottom: var(--space-xxxs); 
}
.padding-y-xxs { 
  padding-top: var(--space-xxs); 
  padding-bottom: var(--space-xxs); 
}
.padding-y-xs { 
  padding-top: var(--space-xs); 
  padding-bottom: var(--space-xs); 
}
.padding-y-sm { 
  padding-top: var(--space-sm); 
  padding-bottom: var(--space-sm); 
}
.padding-y-md { 
  padding-top: var(--space-md); 
  padding-bottom: var(--space-md); 
}
.padding-y-lg { 
  padding-top: var(--space-lg); 
  padding-bottom: var(--space-lg); 
}
.padding-y-xl { 
  padding-top: var(--space-xl); 
  padding-bottom: var(--space-xl); 
}
.padding-y-xxl { 
  padding-top: var(--space-xxl); 
  padding-bottom: var(--space-xxl); 
}
.padding-y-xxxl { 
  padding-top: var(--space-xxxl); 
  padding-bottom: var(--space-xxxl); 
}
.padding-y-xxxxl { 
  padding-top: var(--space-xxxxl); 
  padding-bottom: var(--space-xxxxl); 
}
.padding-y-component { 
  padding-top: var(--component-padding); 
  padding-bottom: var(--component-padding); 
}

@include breakpoint(xs, "not all") {
  .has-padding\@xs { padding: 0 !important; }
}

@include breakpoint(sm, "not all") {
  .has-padding\@sm { padding: 0 !important; }
}

@include breakpoint(md, "not all") {
  .has-padding\@md { padding: 0 !important; }
}

@include breakpoint(lg, "not all") {
  .has-padding\@lg { padding: 0 !important; }
}

@include breakpoint(xl, "not all") {
  .has-padding\@xl { padding: 0 !important; }
}

// --------------------------------

// Typography

// --------------------------------

.truncate, .text-truncate { // truncate text if it exceeds its parent
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-replace { // replace text with img
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}

// text alignment
.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

@include breakpoint(xs) {
  .text-center\@xs { text-align: center; }
  .text-left\@xs   { text-align: left; }
  .text-right\@xs  { text-align: right; }
}

@include breakpoint(sm) {
  .text-center\@sm { text-align: center; }
  .text-left\@sm   { text-align: left; }
  .text-right\@sm  { text-align: right; }
}

@include breakpoint(md) {
  .text-center\@md { text-align: center; }
  .text-left\@md   { text-align: left; }
  .text-right\@md  { text-align: right; }
}

@include breakpoint(lg) {
  .text-center\@lg { text-align: center; }
  .text-left\@lg   { text-align: left; }
  .text-right\@lg  { text-align: right; }
}

@include breakpoint(xl) {
  .text-center\@xl { text-align: center; }
  .text-left\@xl   { text-align: left; }
  .text-right\@xl  { text-align: right; }
}


//weight
.text-weight-300 {font-weight: 300;}
.text-weight-400 {font-weight: 400;}
.text-weight-500 {font-weight: 500;}
.text-weight-600 {font-weight: 600;}


//family
.font-primary {font-family: var(--font-primary);}
.font-headline {font-family: var(--font-headline);}


//transform
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}

.letter-spacing-1 {letter-spacing: 1px;}
.letter-spacing-xxxxs { letter-spacing: var(--space-xxxxs);}


// --------------------------------

// Text Color 

// --------------------------------

.text-white {
  p, h1, h2, h3, h4, h5, h6, label, span, a, div {
    color: var(--color-white);
  }
  input[type="submit"] {
    @extend .btn--white;
  }
}


.color-white,
.color-white > * {  color: var(--color-white); }
.color-black {  color: var(--color-black); }
.color-inherit { color: inherit; }


.box {
  width: 100px;
  height: 100px;
}

// Primary
.color-primary-100 { color: var(--color-primary-100); }
.color-primary-200 { color: var(--color-primary-200); }
.color-primary-300 { color: var(--color-primary-300); }
.color-primary-400 { color: var(--color-primary-400); }
.color-primary-500 { color: var(--color-primary-500); }
.color-primary { color: var(--color-primary); }
.color-primary-600 { color: var(--color-primary-600); }
.color-primary-700 { color: var(--color-primary-700); }
.color-primary-800 { color: var(--color-primary-800); }
.color-primary-900 { color: var(--color-primary-900); }

// Secondary
.color-secondary-100 { color: var(--color-secondary-100); }
.color-secondary-200 { color: var(--color-secondary-200); }
.color-secondary-300 { color: var(--color-secondary-300); }
.color-secondary-400 { color: var(--color-secondary-400); }
.color-secondary-500 { color: var(--color-secondary-500); }
.color-secondary { color: var(--color-secondary); }
.color-secondary-600 { color: var(--color-secondary-600); }
.color-secondary-700 { color: var(--color-secondary-700); }
.color-secondary-800 { color: var(--color-secondary-800); }
.color-secondary-900 { color: var(--color-secondary-900); }

// Tertiary 
.color-tertiary-100 { color: var(--color-tertiary-100); }
.color-tertiary-200 { color: var(--color-tertiary-200); }
.color-tertiary-300 { color: var(--color-tertiary-300); }
.color-tertiary-400 { color: var(--color-tertiary-400); }
.color-tertiary-500 { color: var(--color-tertiary-500); }
.color-tertiary { color: var(--color-tertiary); }
.color-tertiary-600 { color: var(--color-tertiary-600); }
.color-tertiary-700 { color: var(--color-tertiary-700); }
.color-tertiary-800 { color: var(--color-tertiary-800); }
.color-tertiary-900 { color: var(--color-tertiary-900); }

// Quaternary  
.color-quaternary-100 { color: var(--color-quaternary-100); }
.color-quaternary-200 { color: var(--color-quaternary-200); }
.color-quaternary-300 { color: var(--color-quaternary-300); }
.color-quaternary-400 { color: var(--color-quaternary-400); }
.color-quaternary-500 { color: var(--color-quaternary-500); }
.color-quaternary { color: var(--color-quaternary); }
.color-quaternary-600 { color: var(--color-quaternary-600); }
.color-quaternary-700 { color: var(--color-quaternary-700); }
.color-quaternary-800 { color: var(--color-quaternary-800); }
.color-quaternary-900 { color: var(--color-quaternary-900); }

// Neutrals
.color-neutral-100 { color: var(--color-neutral-100); }
.color-neutral-200 { color: var(--color-neutral-200); }
.color-neutral-300 { color: var(--color-neutral-300); }
.color-neutral-400 { color: var(--color-neutral-400); }
.color-neutral-500 { color: var(--color-neutral-500); }
.color-neutral-600 { color: var(--color-neutral-600); }
.color-neutral-700 { color: var(--color-neutral-700); }
.color-neutral-800 { color: var(--color-neutral-800); }
.color-neutral-900 { color: var(--color-neutral-900); }

// Contrast
.color-contrast-100 { color: var(--color-white); }
.color-contrast-200 { color: var(--color-contrast-lower); }
.color-contrast-300 { color: var(--color-contrast-low); }
.color-contrast-400 { color: var(--color-contrast-medium); }
.color-contrast-500 { color: var(--color-contrast-high); }
.color-contrast-600 { color: var(--color-contrast-higher); }

// Alerts
.color-warning-darker { color: var(--color-warning-darker); }
.color-warning-dark { color: var(--color-warning-dark); }
.color-warning { color: var(--color-warning); }
.color-warning-low { color: var(--color-warning-low); }
.color-warning-lower { color: var(--color-warning-lower); }

.color-success-darker { color: var(--color-success-darker); }
.color-success-dark { color: var(--color-success-dark); }
.color-success { color: var(--color-success); }
.color-success-low { color: var(--color-success-low); }
.color-success-lower { color: var(--color-success-lower); }

.color-error-darker { color: var(--color-error-darker); }
.color-error-dark { color: var(--color-error-dark); }
.color-error { color: var(--color-error); }
.color-error-low { color: var(--color-error-low); }
.color-error-lower { color: var(--color-error-lower); }

// --------------------------------

//Background color

// --------------------------------
.bg-inherit { background-color: inherit; }

.bg-white { background: var(--color-white); }
.bg-black { background: var(--color-black); }

// Primary BG
.bg-primary-100 { background: var(--color-primary-100); }
.bg-primary-200 { background: var(--color-primary-200); }
.bg-primary-300 { background: var(--color-primary-300); }
.bg-primary-400 { background: var(--color-primary-400); }
.bg-primary-500 { background: var(--color-primary-500); }
.bg-primary-600 { background: var(--color-primary-600); }
.bg-primary-700 { background: var(--color-primary-700); }
.bg-primary-800 { background: var(--color-primary-800); }
.bg-primary-900 { background: var(--color-primary-900); }

// Secondary BG
.bg-secondary-100 { background: var(--color-secondary-100); }
.bg-secondary-200 { background: var(--color-secondary-200); }
.bg-secondary-300 { background: var(--color-secondary-300); }
.bg-secondary-400 { background: var(--color-secondary-400); }
.bg-secondary-500 { background: var(--color-secondary-500); }
.bg-secondary-600 { background: var(--color-secondary-600); }
.bg-secondary-700 { background: var(--color-secondary-700); }
.bg-secondary-800 { background: var(--color-secondary-800); }
.bg-secondary-900 { background: var(--color-secondary-900); }

// Tertiary BG
.bg-tertiary-100 { background: var(--color-tertiary-100); }
.bg-tertiary-200 { background: var(--color-tertiary-200); }
.bg-tertiary-300 { background: var(--color-tertiary-300); }
.bg-tertiary-400 { background: var(--color-tertiary-400); }
.bg-tertiary-500 { background: var(--color-tertiary-500); }
.bg-tertiary-600 { background: var(--color-tertiary-600); }
.bg-tertiary-700 { background: var(--color-tertiary-700); }
.bg-tertiary-800 { background: var(--color-tertiary-800); }
.bg-tertiary-900 { background: var(--color-tertiary-900); }

// Quaternary BG 
.bg-quaternary-100 { background: var(--color-quaternary-100); }
.bg-quaternary-200 { background: var(--color-quaternary-200); }
.bg-quaternary-300 { background: var(--color-quaternary-300); }
.bg-quaternary-400 { background: var(--color-quaternary-400); }
.bg-quaternary-500 { background: var(--color-quaternary-500); }
.bg-quaternary-600 { background: var(--color-quaternary-600); }
.bg-quaternary-700 { background: var(--color-quaternary-700); }
.bg-quaternary-800 { background: var(--color-quaternary-800); }
.bg-quaternary-900 { background: var(--color-quaternary-900); }

// Neutrals
.bg-neutral-100 { background: var(--color-neutral-100); }
.bg-neutral-200 { background: var(--color-neutral-200); }
.bg-neutral-300 { background: var(--color-neutral-300); }
.bg-neutral-400 { background: var(--color-neutral-400); }
.bg-neutral-500 { background: var(--color-neutral-500); }
.bg-neutral-600 { background: var(--color-neutral-600); }
.bg-neutral-700 { background: var(--color-neutral-700); }
.bg-neutral-800 { background: var(--color-neutral-800); }
.bg-neutral-900 { background: var(--color-neutral-900); }

// Contrast
.bg-contrast-100 { background: var(--color-bg); }
.bg-contrast-200 { background: var(--color-contrast-lower); }
.bg-contrast-300 { background: var(--color-contrast-low); }
.bg-contrast-400 { background: var(--color-contrast-medium); }
.bg-contrast-500 { background: var(--color-contrast-high); }
.bg-contrast-600 { background: var(--color-contrast-higher); }

// Warning
.bg-color-warning { background: var(--color-warning);}


// --------------------------------

// Social Colors

// --------------------------------
:root {
  --brand-facebook: #3b5998;
  --brand-instagram: #c13584; 
  --brand-twitter: #1da1f2; 
  --brand-linked-in: #0077b5; 
  --brand-google: #34a853; 
  --brand-youtube: #ff0000; 
  --brand-yelp: #af0606; 
  --brand-bbb: #005a78; 
  --brand-healthy-hearing: #30436a; 
  --brand-tiktok: #EE1D52;
}

.bg-facebook { background: var(--brand-facebook);}
.bg-instagram { background: var(--brand-instagram);}
.bg-twitter { background: var(--brand-twitter);}
.bg-linkedin { background: var(--brand-linkedin);}
.bg-google { background: var(--brand-google);}
.bg-youtube { background: var(--brand-youtube);}
.bg-yelp { background: var(--brand-yelp);}
.bg-bbb { background: var(--brand-bbb);}
.bg-healthy-hearing { background: var(--brand-healthy-hearing);}
.bg-linked-in { background: var(--brand-linked-in); }
.bg-tiktok { background: var(--brand-tiktok); }


// --------------------------------

// Opacity

// --------------------------------
.opacity-100 {opacity: 1;}
.opacity-90 {opacity: .9;}
.opacity-80 {opacity: .8;}
.opacity-70 {opacity: .7;}
.opacity-60 {opacity: .6;}
.opacity-50 {opacity: .5;}
.opacity-40 {opacity: .4;}
.opacity-30 {opacity: .3;}
.opacity-20 {opacity: .2;}
.opacity-10 {opacity: .1;}
.opacity-0 {opacity: 0;}



// --------------------------------

// Width + Height

// --------------------------------

.width-100 { width: 100%; }
.height-100\% { height: 100%; }
.width-auto { width: auto;}

// --------------------------------

// Image Util Classes

// --------------------------------

img.alignright {
  float: right;
  margin: 0 0 var(--space-sm) var(--space-sm);
}

img.alignleft {
  float: left;
  // margin: 0 var(--space-sm) var(--space-sm) 0;
  // margin: var(--space-sm) var(--space-sm) calc(var(--space-sm) * -1) 0;
  margin: var(--space-sm) var(--space-md) 0 0;
}

img.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

img.img-grey {
  filter: grayscale(1);
}

// --------------------------------

// Media wrapper - make iframe responsive + prevent img jump when page loads

// --------------------------------

.media-wrapper,
.video-wrapper,
.wpsl-gmap-canvas {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; // 16:9 aspect ratio

  iframe, video, img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  video, img {
    object-fit: cover;
  }

  &--pdf {
    position: relative;
    height: 0;
    padding-bottom: 100%;

    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &--video {
    margin-bottom: calc(var(--space-md)*var(--text-vspace-multiplier, 1));
  }
}

.media-wrapper--4\:3 {
  padding-bottom: 75%; // 4:3
}

.media-wrapper--blueprint {
  padding-bottom: 43.25%;
}

.video-wrapper {
  margin-bottom: var(--space-md);
}

.wpsl-gmap-canvas--short {
  padding-bottom: 36.25%;
}

// --------------------------------

// Clearfix - clear float of child elements

// --------------------------------

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


//position
.position-relative {position: relative;}
.position-absolute {position: absolute;}


//blend modes
.mix-blend-screen {mix-blend-mode: screen;}
.mix-blend-multiply {mix-blend-mode: multiply;}



.display-block {display: block;}
.display-inline-block {display: inline-block;}


  // --------------------------------

  // Border Radius

  // --------------------------------

  .radius-sm { border-radius: var(--radius-sm); }
  .radius-md { border-radius: var(--radius-md); }
  .radius-lg { border-radius: var(--radius-lg); }
  .radius-50 { border-radius: 50%; }
  .radius-full { border-radius: 50em; }
  .radius-0 { border-radius: 0; }
  .radius-top-left-0 { border-top-left-radius: 0; }
  .radius-top-right-0 { border-top-right-radius: 0; }
  .radius-bottom-right-0 { border-bottom-right-radius: 0; }
  .radius-bottom-left-0 { border-bottom-left-radius: 0; }

  // --------------------------------
  // Box-Shadow
  // --------------------------------

  .shadow-xs { box-shadow: var(--shadow-xs); }
  .shadow-sm { box-shadow: var(--shadow-sm); }
  .shadow-md { box-shadow: var(--shadow-md); }
  .shadow-lg { box-shadow: var(--shadow-lg); }
  .shadow-xl { box-shadow: var(--shadow-xl); }
  .shadow-none { box-shadow: none; }

  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;

    &:focus {
      background-color: #eee;
      clip: auto !important;
      clip-path: none;
      color: #444;
      display: block;
      font-size: 1em;
      height: auto;
      left: 5px;
      line-height: normal;
      padding: 15px 23px 14px;
      text-decoration: none;
      top: 5px;
      width: auto;
      z-index: 100000; /* Above WP toolbar. */
    }
  }

.color-list {
  $self: &;
  display: flex;
  align-items: center;
  margin: var(--space-md) 0;
  &__list {
    display: flex;
    align-items: center;
    margin-left: var(--space-md);
    &--text {
      #{$self}__item {
        padding: 0 var(--space-md);
      }
    }
  }

  &__item {
    height: var(--space-lg);
    width: var(--space-xxl);
  }
}