.hearing-aid-container {
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--radius-md);
  padding: var(--space-lg);
  margin-bottom: var(--space-lg);
  box-shadow: var(--shadow-sm);
  
  &:not(.full-width) .hearing-aid-container-inner {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: var(--space-lg);
    grid-auto-rows: auto;

    @include breakpoint-max('sm') {
      display: block;
    }
  }
  
  .hearing-aid-photo {
    grid-column: 1 / 1;
    
    img {
      width: 100%;
    }
  }

  .full-width-ha-photo-container {
    img {
      width: 100%;
    }
    margin-bottom: var(--space-md);
  }

  .hearing-aid-content {
    grid-column: 2 / 2 ;
    @include breakpoint-max('sm') { 
      margin-top: var(--space-lg);
    }
  }
}